@import "../assets/themes.css";

.AccountDetails-container {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;
    border: 0.2rem solid var(--primary-color);
}

.AccountDetails-button {
    background: none;
    border: none;
    margin-bottom: 0.5rem;
}

.Account-buttons {
    display: flex;
    margin: auto;
    justify-content: center;
}

.Account-button {
    border: none;
}

@media (max-width: 600px) {
    .AccountDetails-container {
        width: 60%;
    }

    .Account-button {
        width: 50%;
        height: 2rem;
        margin: 1rem;
    }
}