@import '../assets/themes.css';

.Dashboard-Container {
    display: grid;
    grid-template-areas:
        "buttons matches"
        "group   group";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem; /* add some spacing */
    margin: 1rem;
}

.extraButtons-container { grid-area: buttons; }
.Match-Container       { grid-area: matches; }
.Group-Container       { grid-area: group; }

.Dashboard-title {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    color: var(--text-color);
}

.extraButtons-card {
    width: 100%;
    max-height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2rem solid var(--primary-color);
    border-radius: 1rem;
}

.extraButton {
    height: 2rem;
    margin: 0.5rem;
}

.Match-card {
    font-size: 1rem;
    text-align: center;
    border: 0.2rem solid var(--primary-color);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.Matchday-link {
    display: inline-block;
    color: var(--text-color);
    margin: 0.2rem;
}

.Group-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .extraButtons-card,
    .Match-card {
        width: 100%;
        font-size: 0.8rem;
    }
}