@import '../assets/themes.css';

.Dashboard-Container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    }

.Dashboard-title {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    color: var(--text-color);
}

.extraButtons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    border: 0.2rem solid var(--primary-color);
    border-radius: 1rem;
}

.extraButton {
    width: 50%;
    height: 3rem;
    margin: 1rem;
}

.Match-Container {
    max-width: 30rem;
    font-size: 1rem;
    text-align: center;
    border: 0.2rem solid var(--primary-color);
    border-radius: 1rem;
}

.Matchday-link {
    display: inline-block;
    color: var(--text-color);
    margin: 1rem;
}

.Group-Container {
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
}

@media (max-width: 600px) {
    .Dashboard-Container  {
        width: 100%;
    }

    .extraButtons-container {
        width: 90%;
    } 

    .Match-Container {
        font-size: 0.8rem;
        width: 90%;
    }
}