.FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FormTitle {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.Form {
    width: 50%;
    margin-bottom: 3rem;
}

.FormButton {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--text-secondary-color);
    display: block;
    margin: 1rem auto auto auto;

}

@media (max-width: 768px) {
    .FormContainer {
        border: none;
    }

    .FormTitle {
        font-size: 1.5rem;
    }

    .FormButton {
        width: 75%;
        margin-top: 1rem;
        align-items: center;
        height: 2.5rem;
    }
    
}