@import '../assets/themes.css';

.Scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  background-color: var(--primary-color);
  border-radius: 20px;
  max-width: 800px;
}

.ScoreboardTitle {
  width: 100%;
  text-align: center;
  padding: 1rem 0 1rem 0;
  margin: auto;
  border-bottom: 1px solid white;
  color: var(--text-secondary-color);
}

.Player, .Scoreboard-header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid white;
}

.Scoreboard-header {
    font-weight: bold;
    align-items: center;
    color: var(--text-secondary-color);
}

.Player-rank {
  width: 50px;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 2rem;
  border-right: 1px solid white;
  color: var(--text-secondary-color);
}
.Player-name {
  flex: 1;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0 1rem 0rem;
  border-right: 1px solid white;
  color: var(--text-secondary-color);
}

.Player-score {
  width: 5rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-secondary-color);
}

@media (max-width: 600px) {
    .Scoreboard-container {
        margin: 1rem;
    }
}
