@import "../assets/themes.css";

.Match-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  background-color: var(--primary-color);
  border-radius: 1.2rem;
  max-width: 55rem;
  height: 10rem;
  flex-direction: row;
}

.MatchTime {
  height: 100%;
  flex: 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary-color);
  font-size: 1.2rem;
  font-weight: bold;
  border-right: 2px solid var(--border-color);
}

.HomeTeam,
.AwayTeam {
  width: 24rem;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary-color);;
  word-break: break-word;
  white-space: normal;
}

.HomeTeam {
  display: flex;
  justify-content: flex-end;
  float: right;
}
.AwayTeam {
  display: flex;
  justify-content: flex-start;
  float: left;
}
.vs {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-secondary-color);
}

.Predictions {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    background-color: var(--background-color);
    border-radius: 5px;
    margin: 2rem;
}

.FlagContainer {
  width: 4rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  margin: 0.75rem;
}

.Flags {
  font-size: 4rem;
  height: auto; 
  aspect-ratio: 4 / 3;
  object-fit: contain;
}

.Prediction-Container {
  display: flex;
  width: 7rem;
}

.Prediction-button {
    width: 5rem;
    height: 5rem;
    text-align: center;
    background: var(--background-color);
    border: 0.2rem solid black;
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    padding: 0.4rem;
    margin-right: 1rem;
}

.Prediction-button:hover {
    color: var(--text-primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

@media (max-width: 600px) {
  .Match-container {
    width: 95%;
    height: 5rem;
    padding: 0;
  }

  .MatchTime {
    font-size: 0.75rem;
    flex: 0 0 3rem;
  }

  .TeamText {
    display: none;
  }

  .Predictions {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
  }

  .FlagContainer {
    width: 2.5rem;
    height: 1.15rem;
    box-shadow: 0.1rem 0.4rem 0.5rem 0.15rem rgb(61, 59, 59);
  }

  .Flags {
    font-size: 2.5rem;
  }
  .vs {
    padding: 0.25rem;
    font-size: 1rem;
  }

  .Prediction-button {
    width: 3rem;
    height: 3rem;
    font-size: 0.6rem;
    border: 0.15rem solid black;
  }
}
